<ion-header>
    <ion-navbar>
        <ion-title>Ionic Selectable</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-item>
        <ion-label>Port</ion-label>
        <ionic-selectable item-content [(ngModel)]="port" itemValueField="id"
            itemTextField="name" [items]="ports" [canSearch]="true">
        </ionic-selectable>
    </ion-item>
</ion-content>
